node_modules
.env
.DS_Store
.idea
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

yarn-error.log

# Blockscout logs & dumps
blockscout/docker-compose/logs
blockscout/docker-compose/services/redis-data

# addresses generated after each deployContracts
.env.local
secrets.json